<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Ayaan Bajwa</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1><%= text %></h1>
        <nav>
            <a href="" >HOME</a>
            <a href="/about" >ABOUTME</a>
            <a href="/project" >PROJECT</a>
            <a href="/contact" >Contact</a>
    </nav>
    </header>
<h2></h2>
    <div id="AyaanVideo">
        <video height="350", width="450" controls>
            <source src="video/ayaanvid.mp4" type="video/mp4">
            <source src="video/ayaanvid.ogg" type="video/ogg">
        </video>

        <h2>Here is a video of me doing interesting and showing my various skills in boxing.</h2>
        <h2>I have a passion in boxing. A passion to learn and motivate others to seek the right to defend themselves.</h2>
    </div>

    <footer>
        <div class="container">
            <p>&copy;2023 Ayaan Bajwa</p>
        </div>
    </footer>
</body>
</html>