<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="css/main.css">

</head>
<body>
    <header>
        <h1><%= text %></h1>
        <nav>
            <a href="" >HOME</a>
            <a href="/about" >ABOUTME</a>
            <a href="/project" >PROJECT</a>
            <a href="/contact" >Contact</a>
    </nav>
    </header>
<body>
    <section class="Contact">
        <p>_______________________________________________________________________________________________________________________________________________________________</p>
        <h1>Contact</h1>
        <p>Feel free to contact me through the following form. Please leave deatils as asked below.</p>
        <li>Name: Ayaan Bajwa</li>
        <li>Age: 19 years</li>
        <li>University: Ontario Tech University</li>
        <li>Major: Information Technology: Network and IT Security</li>
        <li>Year: 2</li>
        <li>General Location: Toronto, Canada</li>
        <!--General infromation on me wrapping it up-->
        <p> Name:
            <input type="text" name="name">
        </p>

        <p> Email:
            <input type="email" name="email">
        </p>

        <p> Phone:
            <input type="text" name="password">
        </p>
        <p> Messege:
            <input type="text" name="Messege">
        <input type="submit" value="Submit">

        <!--Contact forum for the user. It asks for name, email, and phone and a brief messege the person wants to say.-->

        <footer>
            <div class="container">
                <p>&copy;2023 Ayaan Bajwa</p>
            </div>
        </footer>
</body>
</html>