<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
      <h1><%= text %></h1>
      <nav>
        <a href="" >HOME</a>
        <a href="/about" >ABOUTME</a>
        <a href="/project" >PROJECT</a>
        <a href="/contact" >Contact</a>
</nav>
    </header>

<body>
    <section class="Projects">
        <!--There is a description my projects and then followed by the files-->
        <p>________________________________________________________________________________________________________________________________________________________________</p>
        <h1>Portfolio Project</h1>
        <p>As a student majoring in Network and IT Secuirty, it is crucial to know both software and hardware components an individual is working with.</p>
        <p>I have skills in the broad area of the Information Technology field. I have fluent experience in pyhton and javascript, also proficent in cisco packet tracert and secure crt. Secure Crt and Cisco Packet tracert are softwares used to configure routers and switches to the organizations needs and demands.</p>
        <h4>Here Are Some Of My Coding And Network Configurations Below.</h4>
        <a href="file:lab6.py">Python Code Top 10 Words</a>
        <p></p>
        <a href="file:lab7.py">Python Code Basic and Advanced Calculator</a>
        <p></p>
        <a href="file:ciscopac.pkt">CISCO Network Configurations</a>
        <!-- All the files are there for projects -->
    </section>

    <footer>
        <div class="container">
            <p>&copy;2023 Ayaan Bajwa</p>
        </div>
    </footer>
</body>
</html>